body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}
.tab-icons{
    font-size: 20px;
}

.login-input{
    text-align: center;
    margin-top:200px;
}

.create-group{
    margin-top:30px;
}
.create-input p{
    text-align:center;
}
.create-input p ons-input{
    width:75% !important;
}
.create-input p input{
    width:100% !important;
}

.create-input p .text-input__container{
    width:100%;
}

.toolbar{
    background-color: #154187 !important;
}

.tabbar{
    background-color: #154187 !important;
}

.button--material {
    background-color: #154187 !important;
}

.fab{
    background-color: #154187 !important;
}

.add-icon{
    margin-right:10px;
    font-size: 30px;
}

.add-user{
    font-size: 30px;
}

.user-list{
    min-height:35px !important; padding:0;
}

.user-list-but{
    margin-top:20px;
}
.login{
    color:blue;
    text-decoration: underline;
}
.google-login .button--material {
    background-color:#df482e !important;
}

#trylogin .page__content{
    background-color: #154187 !important;
    
}
.progress-circular{
    width:6em !important;
    height:6em !important;
}
.progress-circular__primary{
    stroke:white;
}
.remove-user{
    font-size: 25px;
    margin-right: 10px;
    color:#990000;
}

.leave-group{
    color: #990000;
}

.new-user{
    font-size: 25px;
    margin-right: 10px;
    color: #154187;
}

.group-title{
    margin-top:20px; 
    margin-left:10px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 20px;     
    font-family: Roboto,Noto,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    color:white;
}
.time{
    font-size: 0.6em;
    color: #424242;
    margin-left:7px;
}
#chatwindow{
    position:absolute; top:0;left:0;right:0;bottom:0; /* if you wish to use all of your space, use
    position:absolute; top:0;left:0;right:0;bottom:0;
    or drop the chatdwindow div */
}
#messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
}
#messagewindow{   
    overflow:auto;
    top:0;
    bottom:10%;
}
#inputcontainer{
    display:block;
    bottom:0;
    padding:.5em;
    background-color: #154187;
}

#inputcontainer > p{
    margin:0;
}
.message{
    display:table;
    background-color: #ededed;
    padding:5px;
    margin:5px 0 30px 15px;
    word-break:break-all;
    white-space: normal;
    clear:both;
    border-radius: 0 5px 5px 5px;
    max-width:80%;
}
.message-text{
    margin:5px 0 0 0;
    
}
.message:before{
  content: ' ';
  position: absolute;
  left:5px;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: #ededed #ededed transparent transparent;
}
.username{
     margin:0;
    display:inline;
    font-size:0.7em;
    color:#154187;
}

.own-message{
    display:table;
    background-color: #6da5ff;
    padding:5px;
    margin:5px 15px 30px 0;
    word-break:break-all;
    white-space: normal;
    float:right;
    clear:both;
    border-radius: 5px 0 5px 5px;
    max-width:80%;
}
.own-message-text{
    margin:5px 0 0 0;
    
}

.own-message .time{
    margin-left:0;
}

.own-message:before{
  content: ' ';
  position: absolute;
  right:5px;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: #6da5ff transparent transparent #6da5ff;
}
.chat-input{
    background-color: #154187;
    border-bottom:1px solid white;
}

.empty-chat{
    position:absolute;
    top:45%;
    left:20%;
    font-size:1.2em;
    color:gray;
}

.chat-input input{
    color:white;
     height:35px;
    width:90% !important;
    font-size:1em;
    border:none;
    padding-left:3px;
    background-color: #154187;
}

.chat-input ons-icon{
    font-size:25px;
    margin-left:5px;
    color:white;
}

.date{
    text-align: center;
    background-color: #154187;
    width:30%;
    margin:auto;
    margin-top:10px;
    padding:2px;
    border-radius: 4px;
    color:white;

}

.group-item .left div{
    width:50px; 
    height:50px; 
    border-radius:50%;
}

.group-item .center{
    margin-left:10px;
}

.group-header{
    margin:auto;
    background-color: #154187;
    background-size:cover;
}
.group-inner{
    padding:10px 0; 
    text-align: center; 
    color:white;
}

.group-img{
    margin:auto; 
    background-color: #b3b3b3;
    width:100px; 
    height:100px; 
    background-size:cover; 
    border-radius: 50%; 
    box-shadow: 0 0 1px gray;
    color:rgba(255,255,255,0.8); 
    font-size:3em;
}

.group-img div ons-icon{
    padding-top:25px;
}

.group-inner h3, .group-inner p{
    margin:10px auto;
}

.group-name{
    min-height:31px;
}
.group-desc{
    min-height:23px;
}

.group-name input, .group-desc input{
    background: none;
    border:none;
    font-size: 1em;
    border-bottom:1px solid white;
    color:white;
}

.edit-icon{
    padding-left:5px;
    font-size: 1.5em;
}

.text-input--material:focus{
        background-image: linear-gradient(#154187, #154187), linear-gradient(to top, transparent 1px, #afafaf 1px);

}

.profile-header{
    background-color:#194da0;
    padding:10px;
    height:100px;
    color:white;
    text-align: center;
}

.profile-img{
    background: url('../img/cat.jpg'); 
    height:100px; width:100px; 
    background-size: cover; 
    border-radius: 50%; 
    box-shadow: 0 0 1px black;
    margin: -50px auto auto auto;
}
.profile-img div{
    width:100%; 
    height:100%; 
    background-color: rgba(0,0,0,0.3); 
    border-radius: 50%; 
    text-align: center; 
    color:rgba(255,255,255,0.8); 
    font-size:3em;
}

.profile-img div ons-icon{
    padding-top:25px;
}

.profile-info p{
    text-align:center;
}
.profile-info p ons-input{
    width:75% !important;
}
.profile-info p input{
    width:100% !important;
}

.profile-info p .text-input__container{
    width:100%;
}

.prof-info-span{
    font-size: 0.8em;
    color:gray;
    margin-left: 10px;
}

.create-group-header{
    background-color:#194da0;
    padding:10px;
    height:100px;
    color:white;
    text-align: center;
}

.create-group-img{
    background-color:white;
    height:100px; width:100px; 
    background-size: cover; 
    border-radius: 50%; 
    box-shadow: 0 0 1px black;
    margin: -50px auto auto auto;
}
.create-group-img div{
    width:100%; 
    height:100%; 
    background-color: rgba(0,0,0,0.3); 
    border-radius: 50%; 
    text-align: center; 
    color:rgba(255,255,255,0.8); 
    font-size:3em;
}

.create-group-img div ons-icon{
    padding-top:25px;
}

.map-settings{
    width:100%;
}

.map-settings ons-icon{
    font-size: 1.1em;
    
}

.map-settings span{
    padding: 0 10px;
}

.map-settings p{
    margin:0;
    padding:5px;
    text-align: center;
    margin:auto;
    margin-top:5px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 gray;
    
}

.map-settings .input-label{
    padding-left:10px;
}
.checkbox--material__checkmark:before{
    
}

.checkbox--material{
   
}
.res-list .dialog--material{
    width:90%;
    height:90%;
}

#restaurant{
    width:100%;
    text-align:center;
}
.restaurant-search{
    width:100%;
    background-color: #194da0;
    color:white;
    height:50px;
}

.restaurant-search ons-icon{
    font-size: 2em;
    padding-left:10px;
}

#mapinput{
    height:50px;
    border:none;
    background-color: #194da0;
    color:white;
    margin:auto;
    width:85%;
    padding-left:10px;
    font-size:1em;
}

.pac-container{
    width:100% !important;
}

.res-loop{
    text-align:left;
}

.res-loop hr{
    margin:0; 
    border:none; 
    border-bottom:solid 1px #e0e0e0;
}

.res-loop-inner{
    padding:14px 14px 14px 10px;
}

.res-title p{
    display: inline; 
    font-size: 1em;
}

.res-options{
    margin-top:5px;
}

.res-options a{
    text-decoration: none; 
    color: #194da0; 
    font-size: .8em; 
    padding-right: 10px;
}

.res-options span{
    color:#990000; 
    font-size: .8em;
}

.res-address p{
    margin: 0; 
    color:gray; 
    font-size: .9em; 
    margin-top:5px;
}

.map-select{
    background-color:white;
    width:75%;
}

.map-select ons-input{
    padding:0 10px;
}

*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

#map{
    height:calc(100% - 50px);
}

#mappage .page__content{
    
}

.list-icon{
     margin-right:10px;
    font-size: 30px;
}
#invite-icon{
    margin-left:20px;
}