<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://fonts.gstatic.com/ data: gap: https://ssl.gstatic.com 'unsafe-eval'; script-src 'self'  https://cdn.rawgit.com/ http://193.167.99.102:80/ https://code.jquery.com/ http://localhost:8080/  'unsafe-inline' 'unsafe-eval' https://*.gstatic.com https://*.googleapis.com; style-src 'self' https://fonts.googleapis.com/ 'unsafe-inline'; media-src *; connect-src http://localhost:8080/ http://193.167.99.102:80/ ws://localhost:8080/ w://193.167.99.102:80/ https://code.jquery.com/; img-src 'self' https://maps.googleapis.com/ https://maps.gstatic.com/ https://csi.gstatic.com/ http://localhost:8080/  http://193.167.99.102:80/ data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/onsenui.css">
        <link rel="stylesheet" type="text/css" href="css/onsen-css-components.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!--js libraries-->
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/onsenui.min.js"></script>
        <script type="text/javascript" src="js/angular-onsenui.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
        <!--app scripts-->
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <!--controllers-->
        <script type="text/javascript" src="js/controllers/controller.js"></script>
        <!--services-->
        <script type="text/javascript" src="js/services/validationService.js"></script>
        <script type="text/javascript" src="js/services/placesService.js"></script>
        <script type="text/javascript" src="js/services/addressService.js"></script>
        <!--socket.io-->
        <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        <!--google-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc-cuAPltUAzINMTaGCNFJ71gLtLqrWPc&libraries=places&type=restaurant"async defer></script>
        
        <title>Ruokasoftaoppari</title>
    </head>
    <body>
    <ons-navigator var="myNavigator" page="signup.html" animation="slide">
    </ons-navigator>
    <ons-template id="signup.html">
        <ons-page id="signup"ng-controller="signupController">
            <form name="signupForm">
                <div class="login-input">
                    <p>
                        <ons-input type="email" ng-model="userEmail" id="email" modifier="material" placeholder="Email" float></ons-input>
                    </p>
                    <p>
                        <ons-input ng-model="userName" id="username" modifier="material" placeholder="Username" float></ons-input>
                    </p>
                    <p>
                        <ons-input type="password" ng-model="userPassword" id="password" modifier="material" placeholder="Password" float></ons-input>
                    </p>
                    <p>
                        <ons-button style="width:195px;" ng-click="signupFunction()" modifier="material">Sign up</ons-button>
                    </p>
                    <hr style="width:220px;">
                    <p class="google-login">
                        <ons-button style="width:195px;" ng-click="googleloginFunction()" modifier="material">
                            <ons-icon style="margin-right:5px;"icon="ion-social-google-outline"></ons-icon>Login with google
                        </ons-button>
                    </p>
                    <p class="login">
                        <a ng-click="dialog2.show();">Already have an account?</a>
                    </p>
                </div>
            </form>
            <ons-dialog var="dialog2" ng-controller="signupController">
                <div style="text-align: center; padding: 10px;">
                    <p>
                        <ons-input ng-model="loginEmail" modifier="material" placeholder="Email"></ons-input>
                    </p>
                     <p>
                        <ons-input ng-model="loginPassword" modifier="material" placeholder="Password"></ons-input>
                    </p>
                    <div class="">
                        <ons-button ng-click="loginFunction()">login</ons-button>
                        <ons-button ng-click="dialog2.hide()">Close</ons-button>
                    </div>
                </div>
            </ons-dialog> 
        </ons-page>
    </ons-template>
    <ons-template id="list.html">
        <ons-page ng-controller="listController">
            <ons-toolbar>
                <div class="center">Home</div>
                <div class="right">
                    <ons-icon ng-click="myNavigator.pushPage('settings.html')" class="list-icon" icon="ion-android-settings"></ons-icon>
                    <ons-icon id="invite-icon" ng-click="dialog3.show(); inviteFunction()" class="list-icon" icon="ion-android-notifications"></ons-icon>
                </div>
            </ons-toolbar>
            <ons-list>
                <ons-list-header>Groups</ons-list-header>               
                    <ons-list-item class="group-item" ng-repeat="group in groups.data" ng-click="saveId(group); myNavigator.pushPage('group.html', {data: {choice: group.groupName}})" tappable>
                        <div class="left">
                            <div style="background: url({{imgurl}}uploads/groups/{{group._id}}.jpg); background-size:cover;"></div>
                        </div>
                        <div class="center">
                            <span class="list-item__title">{{group.groupName}}</span><span class="list-item__subtitle">{{group.groupDesc}}</span>
                        </div>
                    </ons-list-item>
            </ons-list>
            <div class="create-group" align="center">
                <ons-fab ng-click="myNavigator.pushPage('create.html')" position="bottom right">
                    <ons-icon icon="md-plus"></ons-icon>
                </ons-fab>
                <ons-button ng-click="removeToken(); myNavigator.pushPage('signup.html')" modifier="material">delete token</ons-button>
            </div>
            <ons-dialog var="dialog3">             
                    <div style="text-align:center;">
                        <h4 style="background-color: #154187; color:white; margin:0 auto; padding:10px;">Pending invites</h4>
                        <ons-list>
                            <ons-list-item ng-repeat="invite in invites">
                                <div class="left">
                                    <img class="list-item__thumbnail" src="{{imgurl}}uploads/groups/{{invite.groupID}}.jpg">
                                </div>
                                <div class="center">
                                    {{invite.groupName}}
                                </div>
                                <div class="right">
                                    <ons-icon style="margin-right:20px; color:#154187;" ng-click="acceptInvite(invite)" class="add-icon" icon="ion-checkmark"></ons-icon>
                                    <ons-icon style="color: #990000;"ng-click="declineInvite(invite)" class="add-icon" icon="ion-android-cancel"></ons-icon>
                                </div>
                            </ons-list-item>
                            <div ng-if="!invites.length" style="text-align: center; color:gray;">
                                <p>No pending invites</p>
                            </div>
                        </ons-list>
                        <ons-button style="margin-bottom:10px;" ng-click="dialog3.hide()">Close</ons-button>
                    </div>
            </ons-dialog> 
        </ons-page>
    </ons-template>
    <ons-template id="settings.html">
        <ons-page ng-controller="settingsController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Settings</div>
            </ons-toolbar>
             <div class="profile-header">
             </div>
             <div id="profile-img" class="profile-img">
                 <input id="hidden-input" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" style="display:none;" accept="image/*"/>
                 <div onclick="document.getElementById('hidden-input').click();"><ons-icon icon="ion-android-add-circle"></ons-icon></div>
             </div>
                <div class="profile-info">
                    <span>Personal Information</span>
                    <p>
                        <ons-input ng-model="email" modifier="material" placeholder="Email" disabled></ons-input>
                    </p>
                    <p>
                        <ons-input ng-model="username" modifier="material" placeholder="Username"></ons-input>
                    </p> 
                    <span>Change password</span>   
                    <p>
                        <ons-input  type="password" ng-model="oldpass" modifier="material" placeholder="Current password"></ons-input>
                    </p>
                    <p>
                        <ons-input  type="password" ng-model="newpass" modifier="material" placeholder="New password"></ons-input>
                    </p>
                    <p>
                        <ons-button ng-click="saveProfile();" modifier="material">Save</ons-button>
                    </p>
                </div>        
        </ons-page>
    </ons-template>
    <ons-template id="create.html">
        <ons-page ng-controller="createController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Create a group</div>
            </ons-toolbar>
            <div class="create-group-header">
             </div>
            <div id="create-group-img" class="create-group-img">
                 <input id="hidden-input" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" style="display:none;" accept="image/*"/>
                 <div onclick="document.getElementById('hidden-input').click();"><ons-icon icon="ion-android-add-circle"></ons-icon></div>
             </div>
             <div class="create-input">
                <p>
                    <ons-input ng-model="groupName" id="groupname" modifier="material" placeholder="Name" float></ons-input>
                </p>
                <p>
                    <ons-input ng-model="groupDesc" id="groupdesc" modifier="material" placeholder="Description" float></ons-input>
                </p>
                <p>
                    <ons-button ng-click="createFunction()" modifier="material">create</ons-button>
                </p>
            </div>     
        </ons-page>       
    </ons-template>
    <ons-template id="group.html">
        <ons-page>
        <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">{{ myNavigator.topPage.data.choice }}</div>
                <div class="right"><ons-icon ng-click="myNavigator.pushPage('manage.html')" class="add-icon" icon="ion-android-settings"></ons-icon></div>
        </ons-toolbar>      
        <ons-tabbar>
             <ons-tab page="map.html" active="true">
                <div class="tab-bar__icon">
                    <ons-icon class="tab-icons" icon="ion-map"></ons-icon>
                </div>
            </ons-tab>
            <ons-tab page="restaurant.html">
                <div class="tab-bar__icon">
                    <ons-icon class="tab-icons" icon="ion-pizza"></ons-icon>
                </div>
            </ons-tab>
            <ons-tab page="chat.html">
                <div class="tab-bar__icon">
                    <ons-icon class="tab-icons" icon="ion-chatbox"></ons-icon>
                </div>
            </ons-tab>
        </ons-tabbar>
        </ons-page> 
    </ons-template>

    <ons-template id="manage.html">
        <ons-page ng-controller="manageController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Group info</div>
            </ons-toolbar>      
            <!--<p align="center">
                <ons-input ng-model="userEmail" id="useremail" modifier="material" placeholder="Email"></ons-input>
                <ons-button ng-click="adduserFunction()">Add</ons-button>
            </p>-->
            <div class="group-header">
                <div class="group-inner">
                    <div id="group-img" class="group-img">
                        <input id="hidden-input" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" style="display:none;" accept="image/*"/>
                        <div onclick="document.getElementById('hidden-input').click();"><ons-icon icon="ion-android-add-circle"></ons-icon></div>
                    </div>
                    <div class="group-name">  
                        <h3 ng-show="name">{{groupName}} <ons-icon style="padding-left:5px;" ng-click="name=false" icon="ion-edit"></ons-icon></h3>
                        <p ng-hide="name">
                            <input ng-model="groupName">
                            <ons-icon class="edit-icon" ng-click="alterName()" icon="ion-android-checkmark-circle">
                        </p>
                    </div>
                    <div class="group-desc">           
                        <p ng-show="desc">{{groupDesc}} <ons-icon style="padding-left:5px;" ng-click="desc=false" icon="ion-edit"></ons-icon></p>
                        <p ng-hide="desc">
                            <input ng-model="groupDesc">
                            <ons-icon  ng-click="alterDesc()" icon="ion-android-checkmark-circle">
                        </p>
                    </div>
                </div>
            </div>
            <ons-list>
                    <ons-list-header>Members</ons-list-header>
                    <ons-list-item modifier="longdivider">
                        <div class="left">
                            <ons-icon class="add-user" icon="ion-android-person-add"></ons-icon>
                        </div>
                        <div class="center">
                            <ons-input ng-model="userEmail" id="useremail" modifier="material" placeholder="Email"></ons-input>
                        </div>
                        <div class="right">
                            <ons-icon ng-click="adduserFunction()" class="new-user" icon="ion-plus-circled"></ons-icon>
                        </div>
                    </ons-list-item>
                    <ons-list-item ng-repeat="user in users.data" modifier="longdivider">
                        <div class="left">
                            <ons-icon class="add-user" icon="md-account"></ons-icon>
                        </div>
                        <div class="center">
                            <span class="list-item__title">{{user.username}}</span>
                            <span class="list-item__subtitle">{{user.userEmail}}</span>             
                        </div>
                        <div class="right" ng-show="admin">
                            <ons-icon ng-click="removeUser(user.userEmail)" class="remove-user" icon="md-close-circle"></ons-icon>
                        </div>
                    </ons-list-item>
                    <ons-list-header>Manage</ons-list-header>
                    <ons-list-item>
                        <div class="center">
                            Notifications
                        </div>
                        <div class="right">
                            <ons-switch></ons-switch>
                        </div>
                    </ons-list-item>
                    <ons-list-item ng-click="leaveGroup()" ng-hide="admin">
                        <div class="left">
                            <ons-icon class="remove-user" icon="md-alert-circle"></ons-icon>
                        </div>
                        <div class="center leave-group">
                            Leave this group
                        </div>
                    </ons-list-item>
                    <ons-list-item ng-click="deleteGroup()" ng-show="admin">
                        <div class="left">
                            <ons-icon class="remove-user" icon="md-alert-circle"></ons-icon>
                        </div>
                        <div class="center leave-group">
                            Delete this group
                        </div>
                    </ons-list-item>
                </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="map.html">
        <ons-page id="mappage" ng-controller="mapController">
            <div class="map-settings">
                <p>
               <ons-input type="checkbox" input-id="check-1" ng-model="close">Show what's close</ons-input>
               </p>
               <p>
               <ons-input type="checkbox" input-id="check-2" ng-model="list">Show from my list</ons-input>
               </p>
            </div>
            <div id="map"></div>
        </ons-page>
    </ons-template>

    <ons-template id="restaurant.html">
        <ons-page id="restaurant" ng-controller="restaurantController">
            <div class="restaurant-search">
                <input placeholder="Search restaurants" id="mapinput">
            </div>
            <ons-list>
                <ons-list-item ng-repeat="restaurant in restaurants" modifier="longdivider">
                    <div class="center">
                        <span class="list-item__title">{{restaurant.name}}</span>
                        <span class="list-item__subtitle">
                            {{restaurant.address_components[1].long_name}} 
                            {{restaurant.address_components[0].long_name}},
                            {{restaurant.address_components[5].long_name}}
                            {{restaurant.address_components[2].long_name}}
                        </span>
                    </div>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="chat.html">
        <ons-page ng-controller="chatController" class="chat-page">
            <!--<div class="chat-input">
                <input ng-model="chatInput" id="chatinput" modifier="material" placeholder="Enter a message" float>
                <ons-icon ng-click="sendmesFunction()"  icon="ion-android-send"></ons-icon>
            </div>-->
            <!--<div>
            <div class="messages"id="asd">
                <div ng-repeat="mes in messages track by $index">
                     <span ng-if="!mes.own" class="message"><span class="username">{{mes.username}}</span>{{mes.msg}}<span class="time">{{mes.time}}</span></span>
                     <span ng-if="mes.own" class="own-message"><span></span>{{mes.msg}}<span class="time">{{mes.time}}</span></span>
                </div>
            </div>
            </div>-->
            <div id="chatwindow">
                <div id="messagewindow" scroll-glue>
                    <div ng-repeat="mes in messages track by $index" style="margin-bottom:10px;">
                        <div class="date" ng-if="messages[$index-1].date!=messages[$index].date">
                            <span>{{mes.date}}</span>
                        </div>
                        <div class="message" ng-if="!mes.own">
                            <p class="username">{{mes.username}}</p>
                            <span class="time">{{mes.time}}</span>
                            <p class="message-text">{{mes.msg}}</p>
                        </div>
                        <div class="own-message" ng-if="mes.own">
                            <span class="time">{{mes.time}}</span>
                            <p class="message-text">{{mes.msg}}</p>
                        </div>
                    </div>
                </div>
                <div id="inputcontainer">
                    <form ng-submit="sendmesFunction()">
                        <div class="chat-input">
                            <ons-icon icon="ion-android-chat"></ons-icon>
                            <input type="text" ng-model="chatInput" placeholder="Send a message" class="" />
                        </div>
                    </form>
                </div>
            </div>
        </ons-page>
    </ons-template>
    </body>
</html>
